.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  width: 100%;
}

.newsletter-container .form-control {
  min-height: 50px;
  border: none;
  font-size: 18px;
}
.newsletter-container .form-control:focus {
  box-shadow: none;
  border: none;
}
.newsletter-container .btn {
  min-height: 50px;
  background: var(--color-accent-secondary);
  color: #fff;
}

.newsletter-container .btn:hover {
  background: #abc;
  color: #fff;
}
