.top-nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-primary);
  padding: 5px 40px 5px 100px;
  color: var(--text-primary);
  z-index: 99;
  font-size: 16px;
  font-family: "Poppins";
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.logo-accent {
  color: var(--color-accent-secondary);
}
.nav-link {
  color: #000;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-accent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.top-nav > div {
  display: inline-block;
}

.top-nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.top-nav ul li {
  display: inline-block;
  padding: 20px;
}
.top-nav a {
  text-decoration: none;
  color: #000;
}
.top-nav a:hover {
  color: var(--color-accent-secondary);
}

.active {
  color: var(--color-accent-secondary) !important;
}

.top-nav .login {
  border: 1px solid var(--color-accent-primary);
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-right: 2em;
}
.top-nav .login:hover {
  background-color: var(--color-accent-primary);
  color: white;
}

.top-nav .register {
  background-color: var(--color-accent-primary);
  color: #fff;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.top-nav .register:hover {
  border: 1px solid var(--color-accent-primary);
}
.top-nav .menubar {
  display: none;
}

.partners img {
  height: 60px;
}
@media only screen and (max-width: 1080px) {
  .top-nav {
    position: relative;
    padding: 5px 30px;
  }
  .top-nav .hidden {
    display: none;
  }
  .top-nav ul {
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary);
    font-size: 1.2rem;
    transition: all 0.5s ease-in;
  }
  .top-nav ul li {
    display: block;
    padding: 20px;
  }
  .top-nav .menubar {
    display: inline-block;
  }

  .partners img {
    height: 30px;
  }

  .section-slogan {
    width: 100%;
  }
}
