.icon.group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  color: var(--color-accent-primary);
  width: 6rem;
  height: 6rem;
  font-size: 1.8rem;
  border-radius: 16px;
}
.counts {
  font-size: 28px;
  font-weight: 600;
  margin: 1rem 0 0 0;
}

.count-title {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  /* .counts {
    font-size: 22px;
    font-weight: 600;
  }
  .count-title {
    font-size: 16px;
    font-weight: 600;
  } */
  .stat-card .icon.group {
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
  }
}
